@keyframes rotate-img {
    0% {
        transform: rotate(0deg);
    }
    20% {
        transform: rotate(360deg);
    }
    40% {
        transform: rotate(800deg);
    }
    60% {
        transform: rotate(1500deg);
    }
    80% {
        transform: rotate(3000deg);
    }
    100% {
        transform: rotate(6000deg);
    }
}